.navbar {
    background-color: #52489C;
    color: white; 
}

.navbar-brand {
    color: white !important;
    font-weight: 1000;
}

.offcanvas-header {
    background-color: #52489C;
}

.offcanvas-body {
    background-color: #52489C;
}

.main_body {
    background-color: #BBC2C4;
    /* background-image: url(../assets/shock.jfif); */
}

.cam-btn {
    border: 1px solid #000;
    background-color: #52489C;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.cam-btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

input[type="file"] {
    display: none;
}

.button-container {
    padding: 1% 30%;
    text-align: center;
}

.uploaded-image {
    width: 200px;
}

h1 {
    text-align: center;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    align-items: center !important;
    text-align: center;
    min-width: 250px;
}

.header
{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #52489C;
}

.title-box
{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.title-box h2
{
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
}

.hero-btn
{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background-color: #fff;
    color: #52489C;
    font-size: 1.5em;
    cursor: pointer;
}

.hero-btn:hover
{
    background: transparent;
    transition: 1s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.aboutUs
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.about-row
{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.about-col
{
    flex-basis: 30%;
    border-radius: 10%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.why-container {
    width: 45%;
}