.navbar {
    background-color: #52489C;
    color: white; 
}

.navbar-brand {
    color: white !important;
    font-weight: 1000;
}

.offcanvas-header {
    background-color: #52489C;
}

.offcanvas-body {
    background-color: #52489C;
}

.main-body {
    background-color: #BBC2C4;
}

.cam-btn {
    border: 1px solid #000;
    background-color: #52489C;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    margin: 1px 15px 6px ;
}

.cam-btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: transparent;
    color:#000;
    transition: 0.4s;
}

input[type="file"] {
    display: none;
}

.button-container {
    padding: 1% 30%;
    text-align: center;
}

h1 {
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    align-items: center !important;
    text-align: center;
    min-width: 250px;
    padding: 2%;
}

.header
{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #52489C;
}

.title-box
{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.hero-btn
{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background-color: #fff;
    color: #52489C;
    font-size: 1.5em;
    cursor: pointer;
}

.hero-btn:hover
{
    background: transparent;
    transition: 1s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.about-us
{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.abt-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    align-items: center !important;
    text-align: center;
    min-width: 250px;
    padding: 2%;
    height: 550px;
    background-color: #fff;
    border-radius: 3%;
}

.about-img {
    width: 200px;
    border-radius: 4%;
    border: 2px solid #000;
}

.about-row
{
    margin: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-col
{
    flex-basis: 5%;
    border-radius: 10px;
    padding: 10px 6px;
    box-sizing: border-box;
    transition: 0.5s;
}

.why-container {
    flex-basis: 50%;
    padding: 20px 50px;
    align-items: center;
}

/* LOADER */
.loader
{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin: 50 0 0 -30;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.nav-icon {
    height: 100px;
    width: 100px;
}

ul {
    text-align: left;
    padding-left: 10%;
}

.explanation {
    padding: 2% 30%;
}

.upload {
    margin: 30px 20px 5px;
    border: 2px solid black;
    border-radius: 2%;
}