{% extends 'base.html' %}
{% load static %}

{% block title %}Makeup Matchr | About{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static '../static/styles/about.css' %}" />
{% endblock %}

{% block content %}

<div class = "page-title">
    <br>
    <h1>About Us</h1>
</div>
<br>
<h2>
    Our Team
</h2>
<br>
<div class="about-row">
    <div class="about-column">
        <div class = "card">
            <h3>
                Michael Cadieux
            </h3>
            <img class = "about-img" src= "{% static '../static/images/shock.jfif' %}">
            <p>
                Lorem ipsum
            </p>
        </div>
    </div>
    <div class="about-column">
        <div class = "card">
            <h3>
                Bennett Carley
            </h3>
            <img class = "about-img" src= "{% static '../static/images/shock.jfif' %}">
            <p>
                Lorem ipsum
            </p>
        </div>
    </div>
    <div class="about-column">
        <div class = "card">
            <h3>
                Carlos Carrillo
            </h3>
            <img class = "about-img" src= "{% static '../static/images/shock.jfif' %}">
            <p>
                Lorem ipsum
            </p>
        </div>
    </div>
    <div class="about-column">
        <div class = "card">
            <h3>
                Lane Dibello
            </h3>
            <img class = "about-img" src= "{% static '../static/images/shock.jfif' %}">
            <p>
                Lorem ipsum
            </p>
        </div>
    </div>
    <div class="about-column">
        <div class = "card">
            <h3>
                Mario Sandoval
            </h3>
            <img class = "about-img" src= "{% static '../static/images/shock.jfif' %}">
            <p>
                Lorem ipsum
            </p>
        </div>
    </div>
</div>

<br>
<h2>What is Makeup Matchr?</h2>

 

<div class = "about-row">
    <div class = "why-container">
        <div class = "card">
            <br>
            <p>
                We made Makeup Matchr because it is incredibly difficult to find a matching foundation by traditional methods. The process of going to a makeup retailer, guessing which foundations may match your specific skin tone, and manually testing each one is very time consuming and inaccessible for some people. Our goal is to streamline the entire process of finding the correct foundation and take all of the guesswork out of this process.
            </p>
            <br>
        </div>
    </div>   

    <div class = "why-container">
        <div class = "card">
            <h4>
                People who may benefit from using Makeup Matchr:
            </h4>
            <br>
            <ul>
                <li> People who are unhappy with their current foundation</li>
                <li> Users who cannot traverse stores and malls easily</li>
                <li> Users who struggle to find matching foundation shades</li>
                <li> Those with color-perception and visual disabilities</li>
                <li> Anyone who doesn't have time to shop for and compare foundations in the traditional way</li>
            </ul>
        </div>
    </div>  
</div>





{% endblock %}