{% extends 'base.html' %}

{% block title %}Makeup Matchr | Home{% endblock %}

{% block content %}

<h1>Corrected Image</h1>

<div class="button-container">
  <div class = "card">
    <div class="uploaded-image">
      {% if file_url %}
        <img src="{{ file_url }}" height="80vh">
      {% endif %}
    </div>
    
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <label for="file" class="cam-btn">Upload Image</label>
        <input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)">
        <a href = "{% url 'results' %}"><button type="submit">submit</button></a>
    </form>
  </div>
</div>

{% endblock %}