{% extends 'base.html' %}

{% block title %}Makeup Matchr | Home{% endblock %}

{% block content %}

<title>Makeup Matchr | Home</title>

<div class = "page-title">
    <h1>Makeup Matchr!</h1>
</div>

<div class="uploaded-image">
  <img id="output" width="200" />

  <script>
    var loadFile = function (event) {
      var image = document.getElementById('output');
      image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>
</div>

<div class="button-container">
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <label for="file" class="cam-btn">Upload Image</label>
      <input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)">
      <button type="submit">submit</button>
  </form>

  {% if file_url %}
    <img src="{{ file_url }}" alt="">
  {% endif %}
</div>

{% endblock %}