{% extends 'base.html' %}

{% block title %}Makeup Matchr | Output{% endblock %}

{% block content %}

<h1>output</h1>
<h1 class="visually-hidden">Upload Image</h1>

<div class="uploaded-image">
  <img id="output" width="200" />

  <script>
    var loadFile = function (event) {
      var image = document.getElementById('output');
      image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>
</div>

<div class="button-container">
  <label for="file" class="cam-btn">Upload Image</label>
  <input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)">
</div>

{% endblock %}