{% extends 'base.html' %}

{% block title %}Makeup Matchr | Picker{% endblock %}

{% block content %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static '../static/styles/picker.css' %}" />
{% endblock %}

<h1>Color Picker</h1>

<div id="imgContainer"></div>
<div class = "button-container">
  <div class = "card" style="background-color: rgb({{r}},{{g}},{{b}});">

    <!--  
      <p>X = {{x}}    Y = {{y}}</p>
      <p>r = {{r}} g = {{g}} b = {{b}} </p>
    -->
    <a href="">
      <img src=""data:image/png;base64,{{img_b64}}" alt="grammy" ismap="">
    </a>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <button class="cam-btn" type="submit">Submit</button>
    </form>
  </div>
</div>


{% endblock %}