{% extends 'base.html' %}

{% block title %}Makeup Matchr | Output{% endblock %}

{% block content %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static '../static/styles/pciker.css' %}" />
{% endblock %}

<h1>Color Picker</h1>

<p>X = {{x}}    Y = {{y}}</p>
<p>r = {{r}} g = {{g}} b = {{b}} </p>

<a href="">
  <img src="{{file_url}}" alt="grammy" ismap="">
</a>

<div>
  <div class = "color-select" style="background-color: rgb({{r}},{{g}},{{b}});">Selected Color</div>
  <button type="submit">Submit</button>
</div>

{% endblock %}