{% extends 'base.html' %}

{% block title %}Makeup Matchr | Output{% endblock %}

{% block content %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static '../static/styles/pciker.css' %}" />
{% endblock %}

<h1>Color Picker</h1>

<div class = "card">

  <p>X = {{x}}    Y = {{y}}</p>
  <p>r = {{r}} g = {{g}} b = {{b}} </p>

  <a href="">
    <img src="data:image/png;base64,{{img_b64}}" alt="grammy" ismap="" style="height: 80vh;">
  </a>

  <div class = "color-select" style="background-color: rgb({{r}},{{g}},{{b}});">Selected Color</div>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit">Submit</button>
  </form>
</div>

{% endblock %}